.footer {
  border-top: 1px solid #f1f4f8cc;
  background-color: #f7f9fb;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 3fr;
  height: 215px;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;

  &__logo {

    & img {
        margin-bottom: 1rem;
    }

    & p {
        font-size: 1.4rem;
        font-weight: bold;

        & span {
            color: #0275B1;
        }
    }
  }

  &__navigation {
    & h4 {
      font-size: 12px;
      margin-bottom: 2rem;
    }

    & h6 {
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
    }

    &--items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--left {
    }

    &--mid {
    }

    &--right {
    }
  }

  &__access {
    & h4 {
      font-size: 12px;
      margin-bottom: 2rem;
    }

    &--button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      width: 17rem;
      height: 3.2rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      background-color: #0275b1;
      color: #fff;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }

  &__language {
    & h4 {
        font-size: 12px;
        margin-bottom: 2rem;
      }

      & select {
          width: 27rem;
          height: 3.2rem;
          border-radius: 4px;
          border-color: transparent;

          &:visited {
            border-color: non;
          }
      }
  }
}

.outline {
  color: #0275b1;
  background-color: transparent;
  border: 2px solid #0275b1;
}
