.skills {
  padding: 3rem 2rem;
  height: 22rem;

  & h2 {
    font-size: 1.8rem;
  }

  &__cards {
    display: flex;
    margin: 2rem 0;
    &--item {
      width: 25rem;
      height: 8rem;
      padding: 1rem 2rem;
      border: 1px solid #f4f4f4;
      border-radius: 6px;
      margin-right: auto;

      & h3 {
        font-size: 1.4rem;
      }

      & p {
        font-size: 1.4rem;
        color: #0275b1;
        font-weight: bold;
      }
    }

    &--header {
      display: flex;
      justify-content: space-between;
    }
  }

  & a {
      font-size: 1.2rem;
      color: #0275B1;
      font-weight: bold;
  }
}

.avatars {
    display: flex;
    margin-top: 1rem;
}

.avatar:not(:last-child) {
    z-index: 1;
    margin-right: -1rem;
}

.avatar:last-child {
    z-index: 10;
}