.recomendations {
  padding: 2rem;

  & a {
    font-size: 1.2rem;
    color: #0275b1;
    font-weight: bold;
  }

  & hr {
    border: 1px solid #f4f4f4;
  }

  &__header {
    margin-bottom: 1rem;

    & h3 {
      font-size: 1.2rem;
    }
  }

  &__videos {
    display: flex;
    margin-top: 2rem;

    & img {
      width: 80px;
      height: 52px;
      margin-right: 1rem;
    }

    &--content {
        margin-bottom: 1rem;
      & h2 {
        font-size: 1.4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
